<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#4F4F4F">

    @Styles.Render("~/Content/Styles/bundle")
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/scripts")

    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/Images/Favicons/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/Content/Images/Favicons/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Content/Images/Favicons/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/Session/Manifest")">
    <link rel="mask-icon" href="@Url.Content("~/Content/Images/Favicons/safari-pinned-tab.svg")" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Hyper-V Admin">
    <meta name="application-name" content="Hyper-V Admin">
    <meta name="msapplication-TileColor" content="#4f4f4f">
    <meta name="theme-color" content="#4f4f4f">
</head>
<body id="maincontent" class="d-flex"
      data-alerttimeout="@ConfigurationManager.AppSettings["AlertTimeout"]"
      data-refreshinterval="@ConfigurationManager.AppSettings["RefreshInterval"]"
      data-baseurl="@Html.Raw(HtmlUtility.GetVirtualApplicationPath())">
    @Html.Partial("~/Views/Shared/_Menu.cshtml")

    <div class="container">
        <div class="d-flex flex-column h-100 pt-3 pb-3">
            @RenderBody()
        </div>
    </div>

    @Html.Partial("~/Views/Shared/_Footer.cshtml")
    @Html.Partial("~/Views/Shared/_ConfirmDialog.cshtml")

    <div class="alert"></div>
</body>
</html>
