<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/default")
</head>
<body>
    @Html.Partial("~/Views/Shared/_Menu.cshtml", ViewData["Sprints"], ViewData)

    <div class="container">
        @RenderBody()
    </div>

    <footer class="navbar navbar-inverse">
        <div class="container text-muted">
            <a href="https://github.com/joszz/HyperVAdmin" target="_blank" class="copyright">
                Copyright &copy; 2016 @Html.Raw(@DateTime.Now.Year != 2016 ? " - " + DateTime.Now.Year : null)
                Jos Nienhuis
            </a>
        </div>
    </footer>

    @Scripts.Render("~/bundles/scripts")
</body>
</html>
