@using HyperVAdmin.ConfigurationSections;

@{
    string currentController = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}

<nav class="navbar navbar-inverse navbar-fixed-top compensate-for-scrollbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Index")" title="Home">
                <img src="~/Content/Images/Favicons/favicon-32x32.png" alt="Logo" />
                <span>Hyper-V Admin</span>
            </a>
            <small class="text-muted">
                @typeof(HyperVAdmin.MvcApplication).Assembly.GetName().Version
            </small>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right">
            @if (Session["user"] != null || UserConfig.UsersCollection.Count == 0)
            {
                <ul class="nav navbar-nav">
                    @foreach (KeyValuePair<string, WeblinkInstanceElement> link in WeblinkConfig.WeblinksCollection)
                    {
                        <li>
                            <a href="@link.Value.Url" @Html.Raw(link.Value.Target != string.Empty ? "target='" + link.Value.Target + "'" : null)>@link.Value.Name</a>
                        </li>
                    }

                    @if (WeblinkConfig.WeblinksCollection.Count > 0)
                    {
                        <li class="divider"></li>
                    }

                    @if ((bool)ViewBag.HyperVEnabled)
                    {
                        <li @Html.Raw(currentController == "VMs" ? "class='active'" : null)>
                            @Html.ActionLink("Virtual machines", "Index", "VMs")
                        </li>
                    }
                    @if ((bool)ViewBag.IISEnabled)
                    {
                        <li @Html.Raw(currentController == "Sites" ? "class='active'" : null)>
                            @Html.ActionLink("Sites", "Index", "Sites")
                        </li>
                    }
                </ul>
                if (Session["user"] != null)
                {
                    <div class="pull-right btn-group">
                        <i class="btn btn-dark fa fa-user" title="Logged in as: @Session["user"].ToString()"></i>
                        @Html.ActionLink(" ", "Logoff", "Session", null, new { @class = "btn btn-dark fa fa-sign-out-alt", title = "Logout" })
                    </div>
                }
            }
        </div>
    </div>
</nav>