@model List<SiteModel>

<div class="card h-100" id="sites">
    <div class="card-header">
        <div class="float-end btn-group">
            <button class="btn btn-light fa fa-sync" title="Refresh"></button>
        </div>
        <h3 class="mb-0">Sites</h3>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th data-nosort="true" class="d-table-cell d-sm-none">Actions</th>
                    <th>Name</th>
                    <th>Path</th>
                    <th data-nosort="true" class="text-right d-none d-sm-table-cell">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (SiteModel site in Model)
                {
                    <tr>
                        <td class="d-block d-sm-none actions">
                            <div class="btn-group">
                                <button class="btn btn-@Html.Raw(site.State == ObjectState.Stopped ? "danger" : "success") fa fa-power-off" title="Toggle website state"></button>
                                <button class="btn btn-dark fa fa-copy" title="Copy path"></button>
                                <textarea class="offcanvas">@site.PhysicalPath</textarea>
                                <button data-href="@Url.Action("applications", "sites", new { sitename = site.Name })" title="Applications"
                                        class="btn btn-dark fa fa-puzzle-piece @(site.Applications.Count == 0 ? "disabled" : null)"></button>
                            </div>

                            <div class="btn-group bindings">
                                @foreach (KeyValuePair<string, string> keyValue in site.Bindings)
                                {
                                    <a href="@keyValue.Value" target="_blank" title="Open website"
                                       class="btn btn-default protocol @Html.Raw(site.State == ObjectState.Stopped ? "disabled" : null)">@keyValue.Key</a>
                                }
                            </div>
                        </td>
                        <td class="name">@site.Name</td>
                        <td class="path">@site.PhysicalPath</td>
                        <td class="text-right d-none d-sm-block actions">
                            <div class="btn-group bindings">
                                @foreach (KeyValuePair<string, string> keyValue in site.Bindings)
                                {
                                    <a href="@keyValue.Value" target="_blank" title="Open website"
                                       class="btn btn-dark protocol @Html.Raw(site.State == ObjectState.Stopped ? "disabled" : null)">@keyValue.Key</a>
                                }
                            </div>

                            <div class="btn-group">
                                <button class="btn btn-dark fa fa-copy" title="Copy path"></button>
                                <textarea class="offcanvas">@site.PhysicalPath</textarea>
                                <button data-href="@Url.Action("applications", "sites", new { sitename = site.Name })" title="Applications"
                                        class="btn btn-dark fa fa-puzzle-piece @(site.Applications.Count == 0 ? "disabled" : null)"></button>
                                <button class="btn btn-@Html.Raw(site.State == ObjectState.Stopped ? "danger" : "success") fa fa-power-off" title="Toggle website state"></button>
                            </div>
                        </td>
                    </tr>
                }

                <tr class="d-none">
                    <td class="d-table-cell d-sm-none actions">
                        <div class="btn-group">
                            <button class="btn fa fa-power-off" title="Toggle website state"></button>
                            <button class="btn btn-dark fa fa-copy" title="Copy path"></button>
                            <textarea class="offcanvas"></textarea>
                            <button data-href="@Url.Action("applications", "sites")" class="btn btn-default fa fa-puzzle-piece disabled" title="Applications"></button>
                        </div>
                        <div class="btn-group bindings">
                        </div>
                    </td>
                    <td class="name"></td>
                    <td class="path"></td>
                    <td class="text-right d-none d-sm-table-cell actions">
                        <div class="btn-group bindings"></div>
                        <div class="btn-group">
                            <button class="btn btn-dark fa fa-copy" title="Copy path"></button>
                            <textarea class="offcanvas"></textarea>
                            <button data-href="@Url.Action("applications", "sites")" class="btn btn-dark fa fa-puzzle-piece disabled" title="Applications"></button>
                            <button class="btn fa fa-power-off" title="Toggle website state"></button>
                        </div>

                        <a class="btn btn-dark protocol hidden" href="#" title="Open website" target="_blank"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>