@using HyperVAdmin.Models
@model List<VirtualMachineModel>

<div class="panel panel-primary" id="virtual-machines">
    <div class="panel-heading">
        <div class="pull-right btn-group">
            <button class="btn btn-default" title="Refresh">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
        <h4>Virtual machines</h4>
    </div>
    <div class="panel-body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th id="last-state-change">Last state change</th>
                    <th>On time</th>
                    <th class="text-center">Cores</th>
                    <th>Memory</th>
                    <th>MAC</th>
                    <th data-nosort="true" class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (VirtualMachineModel vm in Model)
                {
                    <tr>
                        <td>@vm.Name</td>
                        <td>@vm.TimeOfLastStateChangeFormatted</td>
                        <td>@vm.GetOnTimeFormatted</td>
                        <td class="text-center">@vm.CoresAmount</td>
                        <td>@vm.MemoryTotal @vm.MemoryAllocationUnits</td>
                        <td>@vm.MAC</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button class="btn btn-@Html.Raw(vm.State == VirtualMachineState.Enabled ? "success" : "danger") fa fa-power-off" title="Toggle state" />
                            </div>
                        </td>
                    </tr>
                }

                <tr class="hidden">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-center"></td>
                    <td></td>
                    <td></td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button class="btn fa fa-power-off" title="Toggle state" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
